<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %> </h1>

    <form class="default-form" method="POST" enctype="multipart/form-data">
        <div class="campo">
            <label for="imagen">Imagen</label>
            <input type="file" name="imagen" accept="image/*">
        </div>
        <% if (grupo.imagen) { %>
            <div class="campo">
                <label for="img-actual">Imagen actual</label>
                <img src="/uploads/grupos/<%= grupo.imagen %>" alt="Imagen actual" width="200">
            </div>
        <% } else { %>
            <p>No hay imagen</p>
        <% } %>
        <div class="campo enviar">
            <input type="submit" value="Subir imagen" class="btn btn-rosa">
        </div>
    </form>
</main>